@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "materialize/components/color-variables";

$primary-color: color("grey", "darken-3") !default;
$primary-color-light: lighten($primary-color, 15%) !default;

$primary-color-dark: darken($primary-color, 15%) !default;
$secondary-color: color("red", "accent-3") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("red", "accent-3") !default;

@import 'materialize';
